/*-----------------------------------
  Global Styles
-----------------------------------*/
/* Reset + Base Styling */
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--smoky-black);
  color: var(--white-coffee);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--white-coffee);
}

/* utility for subtle text-muted */
.text-muted { color: rgba(245,234,219,0.75); }