/* Import the public styles that were copied from the original site */
@import url('/styles/core.css');

/* Add any React-specific overrides here */
html, body, #root { 
  height: auto;
  min-height: 100%;
}

main { 
  min-height: calc(100vh - 90px);
  width: 100%;
}
