.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-roast);
}

.main-content {
  width: 100%;
  max-width: 100%;
}

.clock-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-roast);
}
